@font-face {
  font-family: PixCon;
  src: local("/fonts/PixCon.ttf");
}
@font-face {
  font-family: JosefinSans-Bold;
  src: local("/fonts/JosefinSans-Bold.ttf");
}
@font-face {
  font-family: JosefinSans;
  src: local("/fonts/JosefinSans-Regular.ttf");
}

body {
  margin: 0;
}

* h1 {
  font-weight: normal;
}
* h2 {
  font-weight: normal;
}
* h3 {
  font-weight: normal;
}
.border {
  border: solid black 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  /* Permet le défilement vertical */
}

.container {
  border-top: solid black 0.5em;
  padding: 1vw 2vw;
  position: relative;
  z-index: 1000;
}

/*-----------BUTTONS-----------*/

button {
  padding: 1vw 1vw;
  border: solid black 0.3vw;
  background-color: white;
  font-size: 1.5vw;
  font-family: PixCon;
  box-shadow: 0.5vw 0.5vw black;
}

button:hover {
  background-color: #f08049;
  cursor: pointer;
}

button:active {
  transform: translateX(0.5vw) translateY(0.5vw);
  box-shadow: 0 0 black;
}

/*-----------CLASS-----------*/

/*.border {
    border: solid black 8px;
    border-bottom: 0px;
}*/

.hidden {
  display: none;
}

/*-----------HEADER-----------*/

header .container {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4vw;
  border: 0;
  background-color: #009cbd;
}

.header_button {
  width: auto;
  padding: 0vw 1vw;
}

.header_button:hover {
  background-color: white;
}

.header_button:active {
  transform: translateX(0) translateY(0);
}

#logo {
  max-height: 70%;
}

/*-----------REGISTRATION-----------*/

#registration {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 25vw;
  height: 100%;
  padding: 3vh 3vw;
  border: solid black 8px;
  background-color: white;
}

#registration_return {
  height: 3vw;
  width: 6vw;
  margin-bottom: 2vh;
  font-size: 0.7vw;
  transform: translateX(0) translateY(0);
}

#registration form {
  height: 80%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: start;
  row-gap: 0.5vw;
}

#registration form legend {
  font-size: 2vw;
  font-family: PixCon;
}

#registration form div {
  display: flex;
  flex-direction: column;
}

#registration form div label {
  font-size: 1vw;
  font-family: PixCon;
}

#registration form div input {
  height: 3.4vw;
  padding: 0 0.4vw;
  box-sizing: border-box;
  border: solid black 0.3vw;
  font-size: 1.5vw;
  font-family: Josefin Sans;
  font-weight: bold;
}

#registration form button {
  width: 100%;
  margin-top: 1vh;
  background-color: #fcbf28;
  transform: translateX(0) translateY(0);
}

#registration form p {
  margin: 0;
  font-size: 1.1vw;
  font-family: Josefin Sans;
}

#registration form p a {
  font-weight: bold;
}

#registration_message {
  margin-top: 15px;
  font-size: 1.5vw;
  font-family: Josefin Sans;
}

.success {
  color: green;
}

/*-----------ANNONCE-----------*/

#annonce {
  height: 5vh;
}

/*-----------TEASER-----------*/

#teaser {
  position: relative;
  height: 90vh;
  background-color: #f08049;
}

#teaser video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 20%;
}

#presentation {
  position: absolute;
  top: 47%;
  /*-3% pour compenser l'ombre du bouton*/
  transform: translateY(-50%);
  height: 25vw;
  width: 70%;
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#presentation h1 {
  margin: 0;
  font-size: 4vw;
  font-family: PixCon;
}

#presentation p {
  width: 80%;
  margin: 0;
  font-size: 1.5vw;
  font-family: Josefin Sans;
}

#teaser_button {
  width: 40%;
  background-color: #fcbf28;
}

/*-----------VALUES-----------*/

#values {
  height: 100vh;
  background-color: #009cbd;
}

/*-----------TEAM-----------*/

#team {
  height: 100vh;
}

#carousel {
  height: 100%;
  display: flex;
}

#member {
  width: 25%;
  border: solid black 4px;
  border-top: 0;
  border-bottom: 0;
  display: flex;
  flex-direction: column;
}

#member_photo {
  height: 80%;
  border-bottom: solid black 8px;
}

#member_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*-----------SERVICES-----------*/

#services {
  height: 100vh;
}

/*/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/*/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-BACK-OFFICE-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/
/*/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/-/*/

#back-office h1 {
  font-size: 2vw;
  font-family: PixCon;
}

#back-office h2 {
  font-size: 1.5vw;
  font-family: PixCon;
}

#back-office p {
  font-size: 1vw;
  font-family: Josefin Sans;
}

#back-office button {
  font-size: 0.8vw;
  box-shadow: 0 0;
}

#back-office button:active {
  transform: translateX(0) translateY(0);
}

.back-office_box {
  display: flex;
  align-items: center;
  padding: 0 1vw;
  border: solid black 0.4em;
  font-family: PixCon;
}

.left-panel {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20vw;
  background-color: #f1f1f1;
  border: solid black 0.5em;
}

.right-panel {
  margin-left: 20vw;
  overflow-y: scroll;
  height: 100vh;
}

/*----------------------ARBORESCENCE----------------------*/

#tree {
  font-family: PixCon;
}

#level a {
  color: black;
  text-decoration: none;
}

.level-1 {
  margin-left: 20px;
}

.level-2 {
  margin-left: 40px;
}

.level-3 {
  margin-left: 60px;
}

/*--------------------------TITRE--------------------------*/

#back-office_title {
  background-color: #009cbd;
}

#back-office_title .container {
  border-top: 0;
}

/*-------------------DEMANDES EN ATTENTE-------------------*/

.pending_members_grid {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr;
  grid-gap: 0.5vw;
  padding-bottom: 0.5vw;
}

.pending_members_box {
  display: flex;
  align-items: center;
  padding: 0 1vw;
  border: solid black 0.4em;
  font-family: PixCon;
}

.approve_button {
  width: 100%;
  background-color: #81c071;
}

.reject_button {
  width: 100%;
  background-color: #f84747;
}

/*-------------------------MEMBRES-------------------------*/

.members_grid {
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-gap: 0.5vw;
  padding-bottom: 0.5vw;
}

.members_box {
  display: flex;
  padding: 0 1vw;
  border: solid black 0.4em;
  font-family: PixCon;
  cursor: pointer;
  position: relative;
  /* Ajout de cette ligne */
}

.members_box_expanded {
  display: flex;
  padding: 0 1vw;
  border: solid black 0.4em;
  border-bottom: solid white 0.4em;
  font-family: PixCon;
  cursor: pointer;
  position: relative;
  /* Ajout de cette ligne */
}

.members_head_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.members_informations_box {
  flex-direction: column;
  width: calc(100% + 0.8em);
  /* Largeur ajustée pour tenir compte des bordures */
  position: absolute;
  top: 100%;
  /* Positionnement en dessous de members_head_box */
  left: -0.4em;
  border: solid black 0.4em;
  border-top: 0;
  box-sizing: border-box;
  padding: 0 1vw;
}

.modify_button {
  width: 100%;
  background-color: #fcbf28;
}

/*-------------------------MENU-------------------------*/
.header_button img {
  width: 5%;
  padding: 0 2px;
  margin: 0;
}
/*-------------------------SERVICES-------------------------*/

/*bannière*/
.img-slider {
  position: relative;
  width: 100%;
  padding-bottom: 795px;
  margin: auto;
  border-top: solid black 0.5em;
  border-bottom: solid black 0.5em;
  background: #ff8243;
}

.img-slider .slide {
  z-index: 1;
  position: absolute;
  width: 90%;
  clip-path: inset(0 100% 0 0);
}

.img-slider .slide.active {
  clip-path: inset(0 0 0 0);
  transition: 2s;
  transition-property: clip-path;
}

.img-slider .slide img {
  z-index: 1;
  width: 100%;
  height: 795px;
  object-fit: cover;
  /* border-bottom: solid black 0.5em; */
  border-right: solid black 0.5em;
}

.img-slider .slide .info {
  position: absolute;
  top: 0;
  padding: 30px 10px;
  border-bottom: solid black 0.5em;
  padding-bottom: 378px;
}

.img-slider .slide .info h2 {
  color: #000000;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: pixcon;
  text-align: center;
}

.img-slider .slide .info p {
  color: #000000;
  font-size: 25px;
  width: 60%;
  padding: 30px 0px;
  font-family: Josefin Sans;
  margin: auto;
}

/*BOUTON SLIDER*/
.img-slider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.img-slider .navigation .btn {
  background: rgba(0, 0, 0, 0.5);
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}

.img-slider .navigation .btn.active {
  background: #2692e9;
  box-shadow: 0 0 2px rgba(0, 0, 0.5);
}

.row-slide {
  display: flex;
}

.col50 {
  width: 50%;
}

@media (max-width: 700px) {
  .row-slide {
    flex-direction: column;
  }

  .img-slider .slide .info {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .col50 {
    width: 100%;
  }

  .img-slider .slide .info p {
    color: #fff;
    padding: 30px;
    width: 95%;
    font-size: 20px;
  }

  .img-slider .slide .info h2 {
    color: #fff;
    font-size: 20px;
  }

  .img-slider .navigation .btn {
    width: 30px;
    height: 30px;
  }
}

/*projects*/
.project {
  background: #039cbd;
  border-bottom: solid black 0.5rem;
}

.projects {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.projects h1 {
  font-family: pixcon;
  font-size: 30px;
  padding: 50px;
}

.projects p {
  font-family: josefin sans;
  font-size: 20px;
}

.projects-col {
  flex-basis: 32%;
  border: solid black 0.5rem;
  margin-bottom: 200px;
  position: relative;
  overflow: hidden;
}

.projects-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.layer {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: transparent;
}

.layer h3 {
  width: 100%;
  color: #fff;
  font-family: pixcon;
  font-size: 20px;
  bottom: 49%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 1;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 0;
  opacity: 0;
}

@media (max-width: 700px) {
  .layer:hover {
    background: none;
  }

  .layer h3 {
    opacity: 1;
    bottom: 0%;
  }

  .layer {
    background: transparent;
  }

  .projects-col {
    margin-bottom: 20px;
  }

  .layer:hover h3 {
    bottom: 1;
    opacity: 1;
  }
}

/*équipe*/

.row {
  display: flex;
  margin-top: 5%;
  justify-content: space-between;
}

.team {
  background: #b59ad8;
  border-bottom: solid black 0.5em;
  padding-bottom: 100px;
}

.equipe {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 90px;
}

.equipe h1 {
  font-family: pixcon;
  font-size: 30px;
  padding-top: 10px;
  padding-bottom: 0px;
}

.equipe-col {
  flex-basis: 32%;
  border: solid black 0.5rem;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.equipe-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.equipe-layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.equipe-layer:hover {
  background: transparent;
}

.equipe-layer h3 {
  width: 100%;
  color: #039cbd;
  font-family: pixcon;
  font-size: 20px;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 1;
  transition: 0.5s;
}

.equipe-layer:hover h3 {
  bottom: 0;
  opacity: 0;
}

@media (max-width: 700px) {
  .equipe-layer:hover {
    background: none;
  }

  .equipe-layer h3 {
    opacity: 1;
    bottom: 1;
    font-size: 15px;
  }
}

/*PROMESSES*/
.promesses {
  background-color: #ff8243;
  border-bottom: solid black 0.5em;
  padding-bottom: 150px;
}

.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course h1 {
  font-size: 30px;
  font-family: pixcon;
}

.course p {
  color: black;
  font-size: 20px;
  line-height: 22px;
  padding: 20px;
  font-family: josefin sans;
}

.row h3 {
  font-family: pixcon;
  text-align: center;
  margin: 10px 0;
}

.course-col {
  flex-basis: 31%;
  background: #039cbd;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  border: solid black 0.5em;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*Call to action for contact page (SERVICES  PAGE)*/
.cta {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/stylo_octi.jpg);
  background-position: center;
  background-size: cover;
  border-bottom: solid black 0.5rem;
  text-align: center;
  padding: 100px 0;
  padding-bottom: 200px;
}

.cta h1 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.cta h3 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 0.5rem solid #ff8243;
  padding: 12px 34px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  font-family: Pixcon;
}

.hero-btn:hover {
  border: 0.5rem solid #ff8243;
  background: #ff8243;
  transition: 1s;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 15px;
  }

  .hero-btn {
    font-size: 15px;
  }

  .hero-btn:hover {
    background: transparent;
  }
}

/*FOOTER*/
.row-footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  max-height: 60vh;
  max-width: 100%;
  background-color: rgb(0, 153, 255);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 0;
  margin-top: 0;
  margin: 0;
}

.footer h6 {
  font-family: pixcon;
  font-size: 20px;
  padding-bottom: 20px;
}

.footer-col {
  flex-basis: 25%;
  padding: 100px;
  padding-bottom: 0;
}

.footer ul li a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-family: josefin sans;
}

.footer ul li {
  list-style: none;
}

.footer ul li a:hover {
  text-decoration: underline;
}

.footer img {
  width: 60%;
}

.footer p {
  font-size: 20px;
  font-family: josefin sans;
}

.droit p {
  padding-bottom: 50px;
  padding-left: 90px;
}

@media (max-width: 700px) {
  .droit p {
    padding: 20px;
  }

  .footer-col {
    padding: 10px;
  }

  .footer h6 {
    font-size: 13px;
  }

  .footer img {
    width: 10vh;
  }

  .footer {
    min-height: 120vh;
    width: 100%;
  }

  .row-footer {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .droit p {
    padding: 20px;
  }

  .footer-col {
    padding: 10px;
  }

  .footer h6 {
    font-size: 13px;
  }

  .footer img {
    width: 10vh;
  }

  .footer {
    min-height: 120vh;
    width: 100%;
  }

  .row-footer {
    flex-direction: column;
  }
}

/* ----------------------------DEBUT Contat ----------------------*/
.contact {
  background: #039cbd;
}
#contact_form {
  max-width: 50%;
  flex-direction: column;
  display: none;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
  font-family: pixcon;
  font-size: 20px;
  background: #039cbd;
  z-index: -1000;
  position: relative;
}

#contact_form input {
  box-shadow: 0.5vw 0.5vw black;
  margin: 10px;
  font-family: Pixcon;
  font-size: 15px;
}

#contact_form textarea {
  box-shadow: 0.5vw 0.5vw black;
  border: solid black 3px;
  margin: 10px;
}

#contact_form select {
  font-family: Pixcon;
  font-size: 10px;
  margin: 10px;
  border: solid black 2px;
  box-shadow: 0.5vw 0.5vw black;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.form_butt {
  margin-top: 10px;
}

/*Call to action for contact page (SERVICES  PAGE)*/
.cta-form {
  max-width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/print.jpg);
  background-position: center;
  background-size: cover;
  /* border-bottom: solid black 0.5rem; */
  text-align: center;
  padding: 100px 0;
  padding-bottom: 200px;
  z-index: 1000;
  position: relative;
  /* Add this line */
}

.cta-form h1 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.cta-form h3 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta-form h1 {
    font-size: 15px;
  }
}
/*Call to action for contact page to SERVICES  PAGE)*/
.cta_to_services {
  max-width: 100%;
  background: #f08049;
  background-position: center;
  background-size: cover;
  border-bottom: solid black 0.5rem;
  text-align: center;
  padding: 80px 0;
  padding-bottom: 100px;
  z-index: 1000;
  position: relative;
  /* Add this line */
}

.cta_to_services h1 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

.cta_to_services h3 {
  font-family: pixcon;
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta_to_services h1 {
    font-size: 15px;
  }
}

/* BLOG */
.img-slider .slide .inf {
  position: absolute;
  top: 0;
  padding: 30px 10px;
  border-bottom: solid black 0.5em;
  padding-bottom: 700px;
}
.img-slider .slide .inf h2 {
  color: #000000;
  font-size: 35px;
  letter-spacing: 2px;
  font-family: pixcon;
  margin: 10px;
}

.img-slider .slide .inf p {
  color: #000000;
  font-size: 25px;
  width: 45%;
  padding: 30px 0px;
  font-family: Josefin Sans;
  margin: 10px;
}
.img-slider .slide img {
  z-index: 1;
  width: 100%;
  object-fit: cover;
  /* border-bottom: solid black 0.5em; */
  border-right: solid black 0.5em;
  border-left: solid black 0.5em;
}
@media (max-width: 700px) {
  .row-slide {
    flex-direction: column;
  }

  .img-slider .slide .inf {
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .col50 {
    width: 100%;
  }

  .img-slider .slide .inf p {
    color: #fff;
    padding: 30px;
    width: 95%;
    font-size: 20px;
  }

  .img-slider .slide .inf h2 {
    color: #fff;
    font-size: 20px;
  }
}
